<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <title>Company Dashboard</title>
</head>

<body>
<div class="container my-5">
    <h2>Welcome to the Company Dashboard</h2>

    <div class="my-4">
        <h4>Logged in as: <span sec:authentication="name"></span></h4>
    </div>

    <hr class="my-4">

    <p>
        <a th:href="@{/company}" class="btn btn-primary btn-sm mb-2">Home</a>
        <a th:href="@{/company/profile}" class="btn btn-primary btn-sm mb-2">Profile</a>
        <a th:href="@{/company/list_available_positions}" class="btn btn-primary btn-sm mb-2">Available Positions</a>
        <a th:href="@{/company/list_assigned_positions}" class="btn btn-primary btn-sm mb-2">Assigned Positions</a>
        <a th:href="@{/logout}" class="btn btn-danger btn-sm mb-2">Logout</a>
    </p>
</div>
</body>
</html>