<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Committee Dashboard</title>
</head>

<body>
<div class="container">

  <h2>Welcome to Committee Dashboard</h2>
  
  <br> <br> <hr> <br> <br>
  
  <h4>Logged as: <span sec:authentication="name"></span></h4>
  <h4>Has role: <span sec:authentication="authorities"></span></h4>

  <br> <br> <hr> <br> <br>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Traineeship Management</h5>
          <div class="d-flex flex-column">
            <a th:href="@{/committee/positions}" class="btn btn-primary btn-sm mb-2">1. List Traineeship Positions</a>
            <div class="dropdown mb-2">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="findPositionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                2. Find Positions
              </button>
              <div class="dropdown-menu" aria-labelledby="findPositionsDropdown">
                <a class="dropdown-item" th:href="@{/committee/find/by-location}">By Location</a>
                <a class="dropdown-item" th:href="@{/committee/find/by-interests}">By Interests</a>
                <a class="dropdown-item" th:href="@{/committee/find/composite}">Composite</a>
              </div>
            </div>
            <a th:href="@{/committee/assign-position}" class="btn btn-primary btn-sm mb-2">3. Assign Position</a>
            <a th:href="@{/committee/assign-supervisor}" class="btn btn-primary btn-sm mb-2">4. Assign Supervisor</a>
            <a th:href="@{/committee/assigned-traineeships}" class="btn btn-primary btn-sm mb-2">5. List Assigned Traineeships</a>
            <a th:href="@{/committee/complete-traineeships}" class="btn btn-primary btn-sm mb-2">6. Complete Assigned Traineeships</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> <br> <hr> <br> <br>

  <p>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
    <a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3">Logout</a>
  </p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>